<div class="centerbox">
  <center><h3 style="margin:15px;" class="bigtitle">Log in!</h3></cemter>
    <div class="rotatedcontent" style="border-radius:10px;background-color:#1a3370;margin:30px;border:solid 1px #0a2360;height:120px;">
      <%= form_tag sessions_path do %>
        <div style="padding-left:186px;" class="fieldcontainer">
        1  <p class="field">
            Username<br />
            <%= text_field_tag :name, params[:name], :class => "textbox" %>
          </p>
          <p class="field">
            Password<br />
            <%= password_field_tag :password, nil, :class => "textbox" %>
          </p>
        <div style="clear:both;">
        </div>
        </div>
        <p class="button">
          <%=submit_tag "Log in" %>
        </p>
      <% end %>
    </div>
</div>
