<% if @user.errors.any? %>
          <div class="error_messages">
            <center><h2 style="color:white;">Form is invalid. <%=@user.errors.full_messages.join(", ")%>.</h2></center>
          </div>
        <% end %>
<div class="centerbox">
  <center><h3 style="margin:15px;" class="bigtitle">Sign Up!</h3></cemter>
    <div class="rotatedcontent"style="border-radius:10px;background-color:#1a3370;margin:30px;border:solid 1px #0a2360;height:120px;">
      <%= form_for @user do |f| %>
        <div class="fieldcontainer">
          <p class="field">
            Username<br />
            <%= f.text_field(:name, :class => "textbox") %>
          </p>
          <p class="field">
            Email Address<br />
            <%= f.text_field(:email, :class => "textbox")  %>
          </p>
          <p class="field">
            Password<br />
            <%= f.password_field(:password, :class => "textbox")  %>
          </p>
          <p class="field">
            Password (again)<br />
            <%= f.password_field(:password_confirmation, :class => "textbox")  %>
          </p>
        <div style="clear:both;">
        </div>
        </div>
        <p class="button">
          <%=f.submit %>
        </p>
      <% end %>
    </div>
</div>
