<span style="color:white;">
  Top 20 words in a hate:
  <br>
  <% @wordhash.sort{|b,a| a[1] <=> b[1]}[0..19].each do |w| %>
  <%= w %>
<% end %>
<hr>
  Top 20 bigrams in a hate:
  <br>
<% @bigrams.sort{|b,a| a[1] <=> b[1]}[0..19].each do |b| %>
  <%= b %>
<% end %>
<hr>
  Top 20 trigrams in a hate:
  <br>
<% @trigrams.sort{|b,a| a[1] <=> b[1]}[0..19].each do |t| %>
  <%= t %>
<% end %>
</span>
