<center><p class=lighthate style="font-weight:300;font-size:120%;padding-top:100px;letter-spacing:20px;font-variant:small-caps;">TheAntisocialNetwork</p></center>
<div class="centerbox" id="plane">
  <br>
  <div class="innerbox">
    <center><h1 class="bigtitle">What do you <a href="/hates" style="text-decoration:none;"><span class="lighthate">hate</span></a>?</h1></center>
    <center class="rotateme">Contribute to a database containing <a href="/hates"><span class="lighthate"><%=@hates.size%></span></a> other annoyances!</center>
    <div class="textbar">

      <%= form_for @post do |f| %>
        <div class="ihate">I hate: </div><%= f.text_field(:statement, :class => "hate_input")%>
        <div class="ihate">...</div>
      <% end %>
      <%= javascript_tag "document.getElementById('hatestatement_statement').focus();"%>
    </div>
  </div>
  <br>
</div>
