<center>
  <div class="smallrotbox" id="plane">
    <h1 class="bigtitle">Top <span class="lighthate">Hates</span></h1>
    <center class="rotateme" style="letter-spacing:1px;margin-top:-12px;font-size:60%;">Click ++ to promote</center>
  </div>
</center>
<div class="bubbleholder" style="height:400px;margin-top:-175px;">
  <% @hates.reverse.sort{|b,a| [Like.find_by_sql("SELECT DISTINCT LIKER FROM LIKES WHERE STATEMENTID = #{a.id}").size,a.created_at] <=> [Like.find_by_sql("SELECT DISTINCT LIKER FROM LIKES WHERE STATEMENTID = #{b.id}").size,b.created_at]}.each do |h| %>
<% next if !current_user and h.profanity%>  
<% next if params[:hater] and params[:hater] != h.submitter %>
  <div class="hatebubble" style="float:<%=["left","right"][rand(2)]%>">
    <div class="divrotate" style="text-align:center;"><a href="/hate/<%=h.id%>" style="font-weight:normal;color:black;text-decoration:none;">"<i>I hate <%=h.statement.downcase%></i>"</a> <div style="margin-top:10px;">~ <b><a style="color:#0a2360;text-decoration:none;" href="/hates/<%=h.submitter%>"><%=h.submitter.gsub("notloggedin","Anonymous")%></b></a>
      <a href="/agree/<%=h.id%>" style="text-decoration:none;"><span class="plus"><%=(Like.find_by_sql("SELECT DISTINCT LIKER FROM LIKES WHERE STATEMENTID = #{h.id}").size)%>++</span></a></div>
    <br><center class="lighthate" style="font-size:70%;"><a class ="lighthate" style="text-decoration:none;font-weight:normal;"href="/hate/<%=h.id%>"><%=Comment.find_all_by_statementid(h.id).size%> comments,</a> submitted <%=distance_of_time_in_words(Time.now,(Time.zone.parse(h.created_at.to_s)))%> ago.</center>
  </div>
  </div>
<% end %>
</div>
