<div class="centerbox" id ="plane" style="height:auto;margin-top:-200px;">
  <div class="innerbox" style="text-align:center;height:auto;">
    <p class="rotatedtext"><b class="lighthate"><%=distance_of_time_in_words(Time.now,(Time.parse(@hate.created_at.to_s))).capitalize%> ago</b>, <br> <a style="color:#1a3370;text-decoration:none;" href="/hates/<%=@hate.submitter%>"><%=@hate.submitter.gsub("notloggedin","Anonymous")%></a> hated "<i class="lighthate"><%=@hate.statement%></i>".
    <br>
    This hate has <%=@themes.size%> common theme<%="s" if @themes.size != 1%>.
    <%=@themes if @themes.size > 0%>
  </div>
</div>
<div class="bubbleholder" style="height:260px;margin-top:0px;">
  <div class="commentform">
    <b class="lighthate">Create a new comment</b>
    <br>
    <%= form_for(:comment, :url => {:controller => "comments", :actiom => "create"}) do |f| %>
      <%=f.hidden_field(:statementid, :value => params[:id])%>
      <%=f.text_field(:commentbody, :class => "comment_input")%>
    <%end%>
  </div>
  <br>
  <div class="commentform" style="height:auto;">
    <center class="lighthate"><b>Existing Comments</b></center>
  <% @comments.each do |c| %>
    <div class="hatebubble" style="float:<%=["left","right"][rand(2)]%>;">
      <div class="divrotate" style="color:black;">
        "<i><%=c.commentbody%></i>" <a href="/hates/<%=c.submitter%>" style="text-decoration:none;"><b style="color:#0a2360;">~ <%=c.submitter%></b></a>
        <br> <br>
        <span class="lighthate">Submitted <%=distance_of_time_in_words(Time.now,(Time.zone.parse(c.created_at.to_s)))%> ago.</span>
    </div>
    </div>
  <% end %>
  <%= javascript_tag "
    document.getElementById('comment_commentbody').focus();
  "%>
  <div style="clear:both;"></div>
  <% if @comments.size == 0 %>
  <center class="lighthate" style="padding-top:20px;">This hate has no comments.</center>
  <%end%>
</div>
</div>
