// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Page background
*{
  padding:0;
  margin:0;
}

html{
  padding:0px;
  background-color:#2a4380;
  background-image:url(background.png);
  repeat:repeat;
  font-family:"Arial",sans-serif;
}

body{
  height:100%;
  width:100%;
}


.rotatedcontent{
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -o-transform:rotate(2deg);
  transform:rotate(2deg);
}

.rotatedtext{
  background-color:#fff;
  border-radius:10px;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -o-transform:rotate(2deg);
  transform:rotate(2deg);
}

//Bar along top of every page
.topbar{
  color:white;
  font-size:80%;
  letter-spacing:1px;
  padding-top:4px;
  top:0px;
  margin-top:0px;
  height:25px;
  border:solid 1px #021e50;
  background-color:#042052;
}

//Box under text box
.bottombox{
  color:white;
  letter-spacing:1px;
  padding-top:6px;
  position:absolute;
  margin-top:-30px;
  top:100%;
  width:100%;
  height:22px;
  font-size:80%;
  margin-left:-2px;
  border:solid 1px #021e50;
  background-color:#042052;
}

a{
  color:white;
  font-weight:bold;
}

.divrotate{
  -webkit-transform:rotate(0.5deg);
  -moz-transform:rotate(0.5deg);
  -o-transform:rotate(0.5deg);
  transform:rotate(0.5deg);
}

.rotateme{
  letter-spacing:3px;
  font-weight:bold;
  color:#042052;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -o-transform:rotate(2deg);
  transform:rotate(2deg);
}
//Box around text input
.textbar{
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -o-transform:rotate(2deg);
  transform:rotate(2deg);
  margin-top:30px;
  height:50px;
  border-radius:10px;
  background-color:#1a3370;
  border: solid 1px #0a2360;
}

.formbox{
  height:360px;
  width:1024px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-180px 0 0 -512px;
  box-shadow: 3px 3px 0px #1a3370;
  background-color:#fff;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;

}

.smallrotbox{
 background-image:url(stripe.png);
  background-repeat:repeat;
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  -o-transform:rotate(-2deg);
  transform:rotate(-2deg);
  height:80px;
  width:450px;
  padding:2px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
  margin-top:20px;
 
}

//Main container for content on page
.centerbox{
  background-image:url(stripe.png);
  background-repeat:repeat;
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  -o-transform:rotate(-2deg);
  transform:rotate(-2deg);
  height:280px;
  width:800px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-140px 0 0 -400px;
  box-shadow: 5px 5px 3px #031b59;
  background-color:#fff;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
}

//Box inside main container for padding and such
.innerbox{
  margin:40px;
}



//Fancy title text
.bigtitle{
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -o-transform:rotate(2deg);
  transform:rotate(2deg);
  font-size:400%;
  color:#1a3370;
  text-shadow: 1px 1px 1px #03145f;
}
.lighthate{
  color:#3a5390;
}
