// Place all the styles related to the hatestatements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ihate{
  float:left;
  margin-top:8px;
  margin-left:8px;
  color:white;
  margin-bottom:8px;
  font-size:180%;
}

.commentform{
  height:100px;
  border-radius:10px;
  background-color:#0a2360;
  padding:10px;
  color:white;
  letter-spacing:1px;
  text-align:center;
}

.bubbleholder{
  padding:20px;
  overflow-y:auto;
  position:absolute;
  width:900px;
  height:600px;
  left:50%;
  background-color:#1f3875;
  border-top-left-radius:30px;
  border-bottom-right-radius:30px;
  border: solid 2px #0a2360;
  top:50%;
  margin:-300px 0 0 -450px;
}

.hatebubble{
  background-image:url(stripe.png);
  line-height:1em;
  repeat:repeat;
  background-color:#fff;
  padding:15px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  color:#0a2360;
  box-shadow: 2px 2px 15px #0a2360;
  margin:10px;
  letter-spacing:0px;
  font-size:90%;
  -webkit-transform:rotate(-0.5deg);
  -moz-transform:rotate(-0.5deg);
  -o-transform:rotate(-0.5deg);
  transform:rotate(-0.5deg);
}

.hate_input{
  width:545px;
  float:left;
  border-radius:5px;
  border: none;
  background-color:white;
  color:black;
  margin: 8px;
  margin-right:0px;
  margin-top:10px;
  font-weight:bold;
  height:30px;
  font-size:150%;
  padding-left:5px;
}

.plus{
  font-weight:bold;
  color:#6fde00;
  text-decoration:none;
  background-color:#1a3370;
  padding:2px;
  padding-top:0px;
  padding-bottom:0px;
  border-radius:5px;
  text-shadow:1px 1px 2px #3a5390;
  border:solid 1px #2a4380;
}

.minus{
  font-weight:bold;
  color:#de2900;
  text-decoration:none;
}

.smallgreen{
  background-color:#1a3370;
  float:right;
  font-size:80%;
  margin-top:2px;
  margin-right:25px;
  border-radius:5px;
  padding-left:5px;
  padding-right:5px;
  text-shadow:1px 1px 2px #3a5390;
  border:solid 1px #2a4380;
  color:#6fde00;
}

.comment_input{
  width:800px;
  border-radius:5px;
  padding:5px;
  margin:20px;
}
