// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fieldcontainer{
  margin-top:0px;
  margin-bottom:-5px;
  width:800px;
  font-size:90%;
}

.textbox{
  width:125px;
}

.field_with_errors { 
float:left;
display:inline;}


.field{
  float:left;
  background-color:#2a4380;
  padding:8px;
  margin:5px;
  color:white;
  margin:18px;
  margin-bottom:20px;
  border:solid 1px #0a2370;
  border-radius:10px;
  font-weight:bold;
}
