<div class="centerbox">
  <br>
  <div class="innerbox">
    <center><h1 class="bigtitle">What do you hate?</h1></center>
    <div class="textbar">

      <%= form_for :hatestatement, :remote => true, :url => {:controller => "hatestatements", :action => "create"} do |f| %>
        <%= f.text_field :statement%>
        <p class="button">
          <%=f.submit%>
        </p>
      <% end %>
    
    </div>
  </div>
  <br>
</div>
