<!DOCTYPE html>
<html>
<head>
  <title>The Antisocial Network.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding:0px;margin:0px;">
  <div class="topbar">
    <center>
      <%= link_to "Click here", "/hates"%> to find out what people hate! 
      | <% if current_user%>
        Logged in as <b><%=current_user.name%></b>.
        <%= link_to "Log out", log_out_path %>
      <% else %>
      Otherwise 
        <%= link_to "Sign up", sign_up_path %> or 
        <%= link_to "Log in", log_in_path %> 
      <% end %> | Tell us what you <%= link_to "hate", root_path%>.
    </center>
  </div>
  <%= yield %>
  <%= javascript_tag "
    function moveplane(x){
      var rottarget = -2;
      if (x >= rottarget){
        document.getElementById('plane').style.webkitTransform = 'rotate('+x+'deg)'
        var next = x-1;
        setTimeout('moveplane('+next+')',1);
      };
    };
    moveplane(12);
  "%>
  <div style="clear:both;">
  </div>
 <div class="bottombox">
   <center>
      <% @allhate = Hatestatement.find(:all)%>
      <% @lasts = Hatestatement.last([@allhate.size,10].min).reverse %>
      <% @lasts.each_with_index do |last,index| %>
        <div id=hate<%=index%> style="letter-spacing:1px;">
          <a style="text-decoration:none;font-weight:normal;" href="/hate/<%=last.id%>">"<i>I hate <%=last[:statement] if last[:statement].size < 70%><%="#{last[:statement][0..69]}..." if last[:statement].size >= 70%></i>" ~ <b><%=last[:submitter].gsub("notloggedin","Anonymous")%></b></a> <a style="text-decoration:none;" href="/agree/<%=last[:id]%>"><span style="margin-left:10px;margin-right:10px;" class="plus"><%=(Like.find_by_sql("SELECT DISTINCT LIKER FROM LIKES WHERE STATEMENTID = #{last[:id]}").size)%>++</span></a> <span class="lighthate"><%=distance_of_time_in_words(Time.now,(Time.zone.parse(last.created_at.to_s)))%> ago.</span> <span class="smallgreen">TIP: Click the ++ to agree.</class>
        </div>
      <% end %>
      <%= javascript_tag "
      function turnOffN(n){
        var i=0;
        for (i=0;i<n;i++){
          document.getElementById('hate'+i).style.display = 'none';
        };
      };
      function hateSwitch(x){
        turnOffN(#{[@allhate.size,10].min});
        document.getElementById('hate'+x).style.display = 'inline';
        var next = (x+1)%#{[@allhate.size,10].min};
        setTimeout(\"hateSwitch(\"+next+\")\",5000);
      };
      hateSwitch(0);"%>
    </center>
 </div>
</body>
</html>
